<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css'
        integrity='sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=='
        crossorigin='anonymous' />
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container my-5">
        <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <strong> <%- messages.success %> </strong>
        </div>
        <% } %>
        <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
            <strong> <%- messages.error%> </strong>
        </div>
        <% } %>
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header">
                <h2 class="text-center my-2">Register</h2>
            </div>
            <form action="/register" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" name="username" id="" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted">Minimal 8 karakter</small>

                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" id="" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted">Minimal 8 karakter</small>

                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary my-2"
                        style="width: 150px; height: 40px;">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.js'
    integrity='sha512-pn67a0tE9Gl7wyvnZRE8MvKmVDtXYtc/gMaVqNrg5JdlbxSQTI5oXR+Px45Kwloegn/JSPJnY4fR39ml20pI6w=='
    crossorigin='anonymous'></script>

</html>