<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <a class="navbar-brand" href="#">CodeWithWahyu</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item <% if (name === 'home') {%> active <% } %>">
                <a class="nav-link" href="/">Home </span></a>
            </li>
            <li class="nav-item <% if (name === 'about') {%> active <% } %> ">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <% if (!user) { %>
            <li class="nav-item <% if (name === 'register') {%> active <% } %>">
                <a class="nav-link" href="/users/register">Register</span></a>
            </li>
            <div class="nav-link active">|</div>
            <li class="nav-item <% if (name === 'login') {%> active <% } %>">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <% } else {%>
            <li class="nav-item <% if (name === 'dashboard') {%> active <% } %>">
                <a class="nav-link" href="/dashboard/<%= user._id %>">Dashboard</a>
            </li>
            <% } %>
        </ul>

    </div>
</nav>